{% extends "auctions/layout.html" %}

{% block title %}
 Auctions: Create
{% endblock %}

{% block body %}
<h2><b>Create Listing</b></h2>

<br>

{% if message %}
    <div><b>*{{message}}*</b></div>
{% endif %}

<br>

<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{form}}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" valu="Submit">
    </div>
</form>
{% endblock %}