{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!--Current User-->
    <input id="user" type="hidden" value="{{user.username}}">

    <!--New Post-->
    <div name="view" id="compose-view" style="display: none;">                                                            
        <h3>New Post</h3>
        <form id="compose-form">
            <textarea class="form-control" id="compose-body" placeholder="Type something..."></textarea>
            <input id="submit" type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <!--All Posts-->
    <div name="view" id="posts-view"> 
    </div>

    <!--Following-->
    <div name="view" id="following-view" style="display: none;">
    </div>

    <!--Profile-->
    <div name="view" id="profile-view" style="display: none;">
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}